<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
    development :
    work
    -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/testbatis"/>
                <!--
打开下面两个属性,把上面两个注释掉
<property name="driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
<property name="url" value="jdbc:sqlserver://localhost:1433;DatabaseName=mydbname"/>

localhost ： 改成IP
mydbname： 改成自己的数据库名字

-->

                <property name="username" value="root"/>
                <property name="password" value="arthur"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/ordertracking/conf/mybatis/userMapper.xml"/>
        <mapper resource="com/ordertracking/conf/mybatis/WarehouseMapper.xml"/>
    </mappers>
</configuration>